# Build
build

# West files
.west
deps

# IDE's
*.code-workspace

# Unit test results (keep twister-out/coverage for reports)
twister-out/*
!twister-out/coverage/
!twister-out/coverage/**
twister-out.*
