/*
 * OSD32MP1-BRK: the board has a bi-color LED chip — bright green and super red.
 * See: https://www.we-online.com/components/products/datasheet/150066SV74000.pdf
 * The green LED is defined in the base board devicetree called green_led_2 (alias led0);
 * this overlay adds the red LED and its alias (led1).
 */
/ {
	leds {
		red_led_2: led_2 {
			label = "LED2_RED";
			gpios = <&gpioi 8 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};
	};

	aliases {
		led1 = &red_led_2;
	};
};
